<li class='education__item'>
  <h4 class='education__name'>{{name}}</h4>
  <h5 class='education__prof'>{{profession}}</h5>
  <p class='education__date'>{{startDurationEdu}}
    -
    {{endDurationEdu}}
    <span class='line'>|</span>
    {{country}},
    {{city}}</p>
</li>