<li class='education__item'>
  <h4 class='educations__name'>{{name}}</h4>
  <h5 class='educations__prof'>{{profession}}</h5>
  <p class='educations__date'>{{startDurationEdu}}
    -
    {{endDurationEdu}}
    <span class='line'>|</span>
    {{country}},
    {{city}}</p>
</li>